@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --main-font: 'Poppins', sans-serif;
    --orange-bg: #F8E6D4;
    --orange-bg-hover: #f8d8b5;
    --orange-text: #E3964A;
    --gray-light: #D6D6D6;
    --gray-light-text: #A3A3A3;
    --gray-dark-text: #969696;
    --gray-main: #F2F2F2;
    --red: #E34A4A;

    --bg-color: black;
    --text-color: white;
    --bg-color-hover: #222222;

    --column-gap: clamp(10px, 1.2vw, 16px);

    --clamp48px: clamp(35px, 3.3vw, 48px);
    --clamp12px: clamp(8px, 0.8vw, 12px);
    --m20px: clamp(10px, 2.5vw, 20px);
    --m48px: clamp(20px, 2.5vw, 48px);

    --like-url: url('/icons/like.svg');
    --likeDone-url: url('/icons/likeDone.svg');
    --basket-url: url('/icons/basket.svg');
    --github-url: url('/icons/github.svg');
    --instagram-url: url('/icons/instagram.svg');
    --moon-url: url('/icons/moon.svg');
    --sun-url: url('/icons/sun.svg');
    --arrow-right-url: url('/icons/arrow-right.svg');
    --plus-url: url('/icons/plus.svg');
    --minus-url: url('/icons/minus.svg');
    --google-url: url('/icons/google.png');
    --close-url: url('/icons/close.svg');
    
    --men-url: url('/mainPage/men.jpg');
    --women-url: url('/mainPage/women.jpg');
    --children-url: url('/mainPage/children.jpg');

    --casual-url: url('/mainPage/casual.jpg');
    --formal-url: url('/mainPage/formal.jpg');
    --sport-url: url('/mainPage/sport.jpg');
    --sleep-url: url('/mainPage/sleep.jpg');
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: var(--main-font);
    overflow-x: hidden;
    background: var(--text-color);
    transition: background .5s, color .5s;
}
button {
    cursor: pointer;
    border: none;
}

a {
    text-decoration: none;
}
input {
    border: none;
}

.dark-theme {
    --bg-color: white;
    --text-color: #393737;
    --gray-main: #555555;
    /* --gray-main: #828282; */
    --bg-color-hover: #dddddd;
    /* --text-color: #3f3f3f;
    --gray-main: #949494; */
}